---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Join">
 <div>
  <h1>Register</h1>
  <form>
    <label>
      Username:
      <input type="text" name="username" required />
    </label>
    <label>
      Email:
      <input type="email" name="email" required />
    </label>
    <label>
      Password:
      <input type="password" name="password" required minlength="6" />
    </label>
    <button>Submit</button>
  </form>

</div>
</Layout>
