---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Join">
  <div
    class="lg:max-w-2xl max-w-xl mb-10 text-center md:mb-12 md:mx-auto md:text-center lg:py-20 py-16"
  >
    <h1
      class="font-bold font-heading my-4 leading-none max-w-lg md:mx-auto md:tracking-tight sm:text-4xl text-3xl text-center"
    >
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    </h1>
    <p class="lg:py-16 py-12">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut magni
      ducimus amet? Quisquam, facere? Quaerat eveniet nulla quisquam! Ex alias
      consequatur omnis aperiam voluptatum, iure unde fugit quasi rerum animi.
    </p>
  </div>
</Layout>
