---
import { headerData } from "../../data";
import { Icon } from "astro-icon";
const links = headerData.links;
---

<script>
  import { initApp } from "./Theme.astro";

  document.addEventListener("DOMContentLoaded", initApp);
</script>

<header class="sticky top-0 z-20 dark:bg-black bg-white">
  <div
    class="flex w-full text-sm lg:text-lg lg:w-5/6 lg:px-0  mx-auto items-center justify-between py-7 px-6 "
  >
    <div class="block md:hidden">
      <a href="/"><img src="../../public/LogoSchool.png" class="h-14 w-14"></a>
    </div>
    <div >
      <button
        id="hamburger-button"
        class="relative h-8 w-8 cursor-pointer text-3xl md:hidden"
      >
        <div
          id="div-hamburger-button"
          class="absolute top-4 -mt-0.5 h-1 w-8 rounded bg-darkgray transition-all duration-500 before:absolute before:h-1 before:w-8 before:-translate-x-4 before:-translate-y-3 before:rounded before:bg-darkgray before:transition-all before:duration-500 before:content-[''] after:absolute after:h-1 after:w-8 after:-translate-x-4 after:translate-y-3 after:rounded after:bg-darkgray after:transition-all after:duration-500 after:content-['']"
        >
        </div>
      </button>

      <nav class="hidden flex items-center space-x-8 md:inline font-bold font-heading " aria-label="main">
        <a  href="/"><img  src="../../public/LogoSchool.png" class=" inline h-14 w-14"></a>
        {links.map((link) => <a href={link.link}>{link.text}</a>)}
      </nav>
    </div>

    <div class="hidden md:block">
      <div class="flex align-middle content-center">
        <button id="theme" class="mr-4"
          ><Icon name="tabler:sun" class="w-6 h-6" /></button
        >
        <a class="" href="/">Logo HomeSchoolLife.com</a>
      </div>
    </div>
  </div>
  <div
    id="mobile-menu"
    class="justify-content-center absolute hidden w-full origin-top animate-open-menu flex-col text-3xl dark:bg-black bg-white"
  >
    <nav
      class="flex min-h-screen flex-col items-center py-8"
      aria-label="mobile"
    >
      {
        links.map((link) => (
          <a href={link.link} class="w-full py-6 text-center hover:opacity-90">
            {link.text}
          </a>
        ))
      }
    </nav>
  </div>
</header>
