---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div
    class="lg:max-w-2xl max-w-xl mb-10 text-center md:mb-12 md:mx-auto md:text-center lg:py-20 py-16"
  >
    <h2
      class="font-bold font-heading my-6 leading-none max-w-lg md:mx-auto md:tracking-tight sm:text-4xl text-3xl"
    >
      Classifieds
    </h2>

    <p class="text-muted dark:text-slate-400 text-xl max-w-3xl mx-auto"></p>
  </div>

  <div class="mx-auto px-4 max-w-7xl lg:py-20 py-16 flex flex-col items-center">
    <div
      class="grid md:grid-cols-2 gap-14 -mb-6 lg:grid-cols-3 row-gap-6 [&>div] [&>div]:mb-6 [&>>p>img]:max-w-lg [&>div>p>img]:max-w-sm [&>div>p>img]:rounded-md"
    >
      <slot />
    </div>
  </div>
</Layout>
