---
import Layout from "../layouts/Layout.astro";
const {frontmatter} = Astro.props

---

<Layout title={frontmatter.title}>


    <div class="mx-auto px-4 max-w-6xl lg:py-20 py-16">
      <div class="lg:max-w-2xl max-w-xl sm:mx-auto">
        <div
          class="lg:max-w-2xl max-w-xl mb-10 md:mb-12 md:mx-auto md:text-center"
        >
        <p class="text-primary font-semibold text-base tracking-wide uppercase">
          FAQS
        </p>
          <h2
            class="font-bold font-heading my-4 leading-none max-w-lg md:mx-auto md:tracking-tight sm:text-4xl text-3xl"
          >
            Frequently Asked Questions
          </h2>

          <p class="text-muted dark:text-slate-400 text-xl max-w-3xl mx-auto"></p>
        </div>
      </div>
    </div>
    <div class="sm:mx-auto max-w-7xl">
      <div class="prose flex">
        <div class="sm:mx-auto max-w-7xl ">
          <div class="grid md:grid-cols-2 gap-x-8 gap-y-8 grid-cols-1 lg:gap-x-16 [&>div]:space-y-8    [&>div>h3]:text-2xl [&>div>h3]:mb-4  ">

            <slot >default</slot>

          </div>

        </div>
      </div>
    </div>


</Layout>