---
import Layout from "./Layout.astro";
const page = await Astro.glob("../pages/md/*.md");

console.log(page.frontmatter);
---

<Layout title="hola">
  <header>
    <div class="container"></div>
  </header>
  <div class="">
    <slot> default text</slot>
  </div>
</Layout>
